@model UniversityDatabase.ViewModels.Faculty.FacultyIndexViewModel;

@{
    string cellCssWidth = $"{90/2}%";
} 


<div>
    <h2 class="info-title">Факультеты</h2>
    <hr />
    <div class="box">

    <a class="btn btn-primary" asp-action="Create">Создать</a>
    </div>
    <hr />
    <div class="info-row info-row-title">
            <div style="width:@cellCssWidth" class="info-cell">Name</div>
            <div style="width:@cellCssWidth" class="info-cell">Phone</div>
            <div class="info-cell info-cell-actions">Actions</div>
        </div>
    @foreach(Faculty faculty in Model.Faculties){
        <div class="info-row">
                <div style="width:@cellCssWidth" class="info-cell">@faculty.Name</div>
                <div style="width:@cellCssWidth" class="info-cell">@faculty.Phone</div>
                    <div class="info-cell info-cell-actions">
                            <a asp-action="Edit" asp-route-id="@faculty.Id" class="btn btn-warning">Edit</a>
                            <form asp-route-id="@faculty.Id" asp-action="Delete">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                                
                    </div>
        </div>
    }
    
</div>