@model UniversityDatabase.ViewModels.Dean.DeanCreateViewModel

<h1>Редактировать Деканат</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input value="@Model.Dean.Id" type="hidden" asp-for="Dean.Id" />
            <div class="form-group">
                <label asp-for="Dean.Name" class="control-label"></label>
                <input value="@Model.Dean.Name" asp-for="Dean.Name" class="form-control" />
                <span asp-validation-for="Dean.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dean.Phone" class="control-label"></label>
                <input value="@Model.Dean.Phone" asp-for="Dean.Phone" class="form-control" />
                <span asp-validation-for="Dean.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
