@model UniversityDatabase.ViewModels.Dean.DeanIndexViewModel;


<section class="dean section">
    <div class="section__head">
        <h2 class="title">Деканаты</h2>
    </div>
    <div class="box">
        <a class="create-btn" asp-action="Create">Создать деканат</a>
    </div>
        

    <div class="dean__content">
        @foreach (Dean dean in Model.Deans)
        {
            <div class="item">
                <h3 class="item-title">
                    @dean.Name
                </h3>
                    <div class="item-info"> <span class="item-info-title">Телефон: </span> @dean.Phone</div>
                    <div class="item-actions">
                                <a asp-action="Edit" asp-route-id="@dean.Id" class="edit-btn"> <span class="edit-btn-text">Изменить</span> <span class="edit-btn-span"></span></a>
                                    <form asp-route-id="@dean.Id" asp-action="Delete">
                                                            <button type="submit" class="delete-btn">  <span class="delete-btn-text">Удалить</span> <span class="delete-btn-span"></span> </button>
                                    </form>
                                    </div>
            </div>
        }
    </div>
</section>
